In [1]:
#Airline crash data mining and cleanup code
#==========================================
#
#Change History:
#
#===========================================

# Dependencies
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import csv
import dateutil
import time

In [2]:
# Read main CSV
plane_data = pd.read_csv("data/Airplane_Crashes_and_Fatalities_Since_1908.csv")
plane_data.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0,Hydrogen gas which was being vented was sucked...

In [3]:
#Data Size
print(len(plane_data))

5268

In [4]:
#Overview of data - available and non-available values
plane_data.count()

Date            5268
Time            3049
Location        5248
Operator        5250
Flight #        1069
Route           3562
Type            5241
Registration    4933
cn/In           4040
Aboard          5246
Fatalities      5256
Ground          5246
Summary         4878
dtype: int64

In [5]:
# Convert date from string to date times
plane_data['Date'] = plane_data['Date'].apply(dateutil.parser.parse, dayfirst=True)

In [6]:
#Show the data
plane_data.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0,"During a demonstration flight, a U.S. Army fly..."
1,1912-12-07,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0,First U.S. dirigible Akron exploded just offsh...
2,1913-06-08,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0,The first fatal airplane accident in Canada oc...
3,1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0,The airship flew into a thunderstorm and encou...
4,1913-10-17,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0,Hydrogen gas which was being vented was sucked...

In [7]:
#Get year and create a new column - Year

plane_data['Year'] = pd.DatetimeIndex(plane_data['Date']).year
plane_data.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary,Year
0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0,"During a demonstration flight, a U.S. Army fly...",1908
1,1912-12-07,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0,First U.S. dirigible Akron exploded just offsh...,1912
2,1913-06-08,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0,The first fatal airplane accident in Canada oc...,1913
3,1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0,The airship flew into a thunderstorm and encou...,1913
4,1913-10-17,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0,Hydrogen gas which was being vented was sucked...,1913

In [9]:
#Creating "Make Type"
#Creating "Category" - Military, Passenger, Others
#"Other" will comprise - Mail, Cargo and anything with missed data

word1 = "Military"
word2 = "Cargo"
word3 = "Mail"
word4 = "Passenger"

for index,row in plane_data.iterrows():
    plane_data.loc[index,"Make_Type"] = str(row["Type"])[:(str(row["Type"]).find(" "))]
    operator = row["Operator"]
    try:
        if word1 in operator:
            Op_Code = word1
        elif word2 in operator:
            Op_Code = "Others"
        elif word3 in operator:
            Op_Code = "Others"
        else:
            Op_Code = word4
    except:
        Op_Code = "Others"
    
    plane_data.loc[index,"Op_Code"] = Op_Code

plane_data.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary,Year,Make_Type,Op_Code
0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0,"During a demonstration flight, a U.S. Army fly...",1908,Wright,Military
1,1912-12-07,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0,First U.S. dirigible Akron exploded just offsh...,1912,Dirigibl,Military
2,1913-06-08,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0,The first fatal airplane accident in Canada oc...,1913,Curtiss,Passenger
3,1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0,The airship flew into a thunderstorm and encou...,1913,Zeppelin,Military
4,1913-10-17,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0,Hydrogen gas which was being vented was sucked...,1913,Zeppelin,Military

In [10]:
#Create category of crash by reading the reson

#Cat1 = "Terrorism"
Cat2 = "Terrorism"
Cat3 = "Human Error"
Cat4 = "Fire"
Cat5 = "Landing/Takeoff"
Cat6 = "Machine Issue"
Cat7 = "War"
Cat8 = "Weather"
Cat9 = "Unknown"

Cat1A = "Terrorism"
Cat1B = "Crashed"
Cat2A = "hijack"
Cat2B = "Hijack"
Cat2C = "Hijacked"
Cat2D = "hijacker"
Cat2E = "hijacking"
Cat2F = "Hijacking"
Cat2G = "hijacked"
Cat2H = "terrorists"
Cat2I = "Terrorism"
Cat2J = "Terrorist"
Cat3A = "demonstration"
Cat3B = "weight"
Cat3C = "tailspin"
Cat3D = "error"
Cat3E = "disorientation"
Cat3F = "checklist"
Cat3G = "non-compliance"
Cat4A = "fire"
Cat4B = "hydrogen"
Cat4C = "Fuel"
Cat5A = "landing"
Cat5B = "land"
Cat5C = "take off"
Cat5D = "approach"
Cat5E = "liftoff"
Cat5D = "attempting"
Cat6A = "propellers"
Cat6B = "structural"
Cat6C = "malfunctioning"
Cat6D = "engine"
Cat6E = "failure"
Cat6F = "wire"
Cat6G = "Broken"
Cat6H = "emergency"
Cat6I = "design"
Cat6J = "malfunction"
Cat6K = "mechanical"
Cat6L = "problem"
Cat7A = "Exploded"
Cat7B = "explode"
Cat7C = "shot"
Cat7D = "Shot"
Cat7E = "hit"
Cat8A = "storm"
Cat8B = "thunderstorm"
Cat8C = "lightning"
Cat8D = "weather"
Cat8E = "clud"
Cat8F = "Weather"
Cat8G = "winds"
Cat8H = "fog"
Cat8I = "rain"
Cat8J = "gust"
Cat8K = "heavy"
Cat8L = "violent"
Cat8M = "ice"

for index,row in plane_data.iterrows():
   # plane_data.loc[index,"Crash_Type"] = str(row["Type"])[:(str(row["Type"]).find(" "))]
    crash = row["Summary"]
    try:
        #if Cat1A in crash:
         #   Op_Code = Cat1
        #elif Cat1B in crash:
         #   Op_Code = Cat1
        if Cat2A in crash or Cat2B in crash or Cat2C in crash or Cat2D in crash or \
            Cat2E in crash or Cat2F in crash or Cat2G in crash or Cat2H in crash or \
            Cat2I in crash or Cat2J in crash:
            Op_Code = Cat2
        elif Cat7A in crash or Cat7B in crash or Cat7C in crash or Cat7D in crash or Cat7E in crash:
            Op_Code = Cat7
        elif Cat3A in crash or Cat3B in crash or Cat3C in crash or \
             Cat3D in crash or Cat3E in crash or Cat3F in crash or Cat3G in crash:
            Op_Code = Cat3
        elif Cat4A in crash or Cat4B in crash or Cat4C in crash:
            Op_Code = Cat4
        elif Cat5A in crash or Cat5B in crash or Cat5C in crash or Cat5D in crash:
            Op_Code = Cat5
        elif Cat6A in crash or Cat6B in crash or Cat6C in crash or Cat6D in crash or Cat6E in crash or \
            Cat6F in crash or Cat6G in crash or Cat6H in crash or \
            Cat6I in crash or Cat6J in crash or Cat6K in crash or Cat6L in crash:
            Op_Code = Cat6
        elif Cat8A in crash or Cat8B in crash or Cat8C in crash or Cat8D in crash or Cat8E in crash or \
            Cat8F in crash or Cat8G in crash or Cat8H in crash or Cat8I in crash or \
            Cat8J in crash or Cat8K in crash or Cat8L in crash or Cat8M in crash:
            
            Op_Code = Cat8
        else:
            Op_Code = "Unknown"
    except:
        Op_Code = "Unknown"
    plane_data.loc[index,"Accident_Code"] = Op_Code
    
plane_data.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary,Year,Make_Type,Op_Code,Accident_Code
0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0,"During a demonstration flight, a U.S. Army fly...",1908,Wright,Military,Human Error
1,1912-12-07,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0,First U.S. dirigible Akron exploded just offsh...,1912,Dirigibl,Military,War
2,1913-06-08,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0,The first fatal airplane accident in Canada oc...,1913,Curtiss,Passenger,Weather
3,1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0,The airship flew into a thunderstorm and encou...,1913,Zeppelin,Military,Landing/Takeoff
4,1913-10-17,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0,Hydrogen gas which was being vented was sucked...,1913,Zeppelin,Military,War

In [11]:
#Create bins for decades
bins = [1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010]
group_names = ["1900-1910", "1911-1920", "1921-1930", "1931-1940", "1941-1950",
              "1951-1960", "1961-1970", "1971-1980", "1981-1990", "1991-2000", "2001-2010"]

plane_data["Decade"] = pd.cut(plane_data["Year"], bins, labels=group_names)
plane_data.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary,Year,Make_Type,Op_Code,Accident_Code,Decade
0,1908-09-17,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0,"During a demonstration flight, a U.S. Army fly...",1908,Wright,Military,Human Error,1900-1910
1,1912-12-07,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0,First U.S. dirigible Akron exploded just offsh...,1912,Dirigibl,Military,War,1911-1920
2,1913-06-08,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0,The first fatal airplane accident in Canada oc...,1913,Curtiss,Passenger,Weather,1911-1920
3,1913-09-09,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0,The airship flew into a thunderstorm and encou...,1913,Zeppelin,Military,Landing/Takeoff,1911-1920
4,1913-10-17,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0,Hydrogen gas which was being vented was sucked...,1913,Zeppelin,Military,War,1911-1920

In [12]:
#Dropping unwanted columns:
plane_data = plane_data.drop(['Registration', 'cn/In','Ground','Flight #','Time'], axis=1)
plane_data.head()

,Date,Location,Operator,Route,Type,Aboard,Fatalities,Summary,Year,Make_Type,Op_Code,Accident_Code,Decade
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,2.0,1.0,"During a demonstration flight, a U.S. Army fly...",1908,Wright,Military,Human Error,1900-1910
1,1912-12-07,"AtlantiCity, New Jersey",Military - U.S. Navy,Test flight,Dirigible,5.0,5.0,First U.S. dirigible Akron exploded just offsh...,1912,Dirigibl,Military,War,1911-1920
2,1913-06-08,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,1.0,1.0,The first fatal airplane accident in Canada oc...,1913,Curtiss,Passenger,Weather,1911-1920
3,1913-09-09,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),20.0,14.0,The airship flew into a thunderstorm and encou...,1913,Zeppelin,Military,Landing/Takeoff,1911-1920
4,1913-10-17,"Near Johannisthal, Germany",Military - German Navy,NaN,Zeppelin L-2 (airship),30.0,30.0,Hydrogen gas which was being vented was sucked...,1913,Zeppelin,Military,War,1911-1920

In [13]:
#rearrange the columns for better visibility  
plane_data = plane_data[["Decade","Year","Date","Location",
                         "Operator", "Op_Code","Route",
                         "Type","Make_Type","Aboard","Fatalities",
                         "Accident_Code","Summary"]]
plane_data.head()

,Decade,Year,Date,Location,Operator,Op_Code,Route,Type,Make_Type,Aboard,Fatalities,Accident_Code,Summary
0,1900-1910,1908,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Military,Demonstration,Wright Flyer III,Wright,2.0,1.0,Human Error,"During a demonstration flight, a U.S. Army fly..."
1,1911-1920,1912,1912-12-07,"AtlantiCity, New Jersey",Military - U.S. Navy,Military,Test flight,Dirigible,Dirigibl,5.0,5.0,War,First U.S. dirigible Akron exploded just offsh...
2,1911-1920,1913,1913-06-08,"Victoria, British Columbia, Canada",Private,Passenger,NaN,Curtiss seaplane,Curtiss,1.0,1.0,Weather,The first fatal airplane accident in Canada oc...
3,1911-1920,1913,1913-09-09,Over the North Sea,Military - German Navy,Military,NaN,Zeppelin L-1 (airship),Zeppelin,20.0,14.0,Landing/Takeoff,The airship flew into a thunderstorm and encou...
4,1911-1920,1913,1913-10-17,"Near Johannisthal, Germany",Military - German Navy,Military,NaN,Zeppelin L-2 (airship),Zeppelin,30.0,30.0,War,Hydrogen gas which was being vented was sucked...

In [14]:
#Generating csv file for cleaned data set without index column

output_data_file1 = "data/plane_crash_cleaned.csv"
plane_data.to_csv(output_data_file1, index = False)